<div id="lang" style="float: right;">
  <a href="javascript:void(0);" style="cursor: pointer;" (click)="selectedLanguage('de');">DE</a> {{' | '}}
  <a href="javascript:void(0);" style="cursor: pointer;" (click)="selectedLanguage('en');">EN</a>
</div>
<router-outlet></router-outlet>
<div style="clear: both"></div>
<!--
<div *ngFor="let a of arr | sort">
  val = {{a}} <br/>
</div>
<button (click)="updateArray();">
Update Array
</button>


<ng-container>
container
</ng-container>

<ng-template *ngFor="let a of [1,2,3]">
  {{a}}
</ng-template>
<br/>
NG-Template
<ng-template ngFor let-item [ngForOf]="[4,5,6]" let-i="index">
  <li>item = {{item}}</li>
</ng-template>
-->
<div style="width:50%">
  <form novalidate #f="ngForm">
    <fieldset ngModelGroup="name">
      <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" name="firstname" ngModel required>
      </div>

      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" name="lastname" ngModel>
      </div>
    </fieldset>

    <div class="form-group" [ngClass]="{
      'has-danger': e?.invalid && (e?.dirty || e?.touched),
      'has-success': e?.valid && (e?.dirty || e?.touched)
      }">
      <label>Email</label>
      <input type="email" class="form-control" name="email" ngModel #e="ngModel" required pattern="[^ @]*@[^ @]*">
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password" ngModel required minlength="8">
    </div>

    <div class="form-group">
      <label>Language</label>
      <select class="form-control" name="language" ngModel>
        <option value="">Please select a language</option>
        <option *ngFor="let lang of langs" value="{{lang}}">{{lang}}</option>
      </select>
    </div>
  </form>
</div>
<pre>Valid? {{f.controls.email?.valid}}</pre>
<pre>form inValid? {{f.invalid}}</pre>
<pre>Dirty? {{f.form.controls.email?.dirty}}</pre>
<pre>Touched? {{e?.touched}}</pre>
<pre>Pristine? {{f.form.controls.email?.pristine}}</pre>
<pre>UnTouched? {{f.form.controls.email?.untouched}}</pre>
<pre>{{f.value | json}}</pre>
<p>Environment = {{envName}}</p>