<div id="nav" style="float: left;">
    <a routerLinkActive="active" routerLink='home'>{{'header.home' | translate}}</a> &nbsp;&nbsp;
    <a routerLinkActive="active" routerLink='products'>{{'header.products' | translate}}</a> &nbsp;&nbsp;
    <a routerLinkActive="active" routerLink='admin'>{{'header.admin' | translate}}</a>&nbsp;&nbsp;
    <a routerLinkActive="active" routerLink='learning'>{{'header.learning' | translate}}</a>
  </div>
  <div style="clear:both"></div>
  <router-outlet></router-outlet>